.Grid{

    
    text-align: center;
    padding-top: 25px;
    padding-right: 5px;
    padding-left: 15px;
    padding-bottom: 0px;
    
}
.Info{
    padding-top : 30px;
    text-align: center;
    font-size: medium;
}